# Compiled output
/dist
/tmp
/out-tsc

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs
.idea/
.vscode/*
!.vscode/settings.json

# Environment
.env
.env.local

# Miscellaneous
/.angular/cache
